@font-face { font-family: "GL Lineca"; font-weight: 100 900; font-display: block; src: url("F37Lineca-VF.woff2") format("woff2"); }
@font-face { font-family: "GL Suisse"; font-weight: 400; font-display: block; src: url("SuisseIntl-Regular.woff2") format("woff2"); }
@font-face { font-family: "GL Mono"; font-weight: 400; font-display: block; src: url("SuisseIntlMono-Regular.woff2") format("woff2"); }
